<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Club de Atletismo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->

<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <!-- Botón para abrir el menú deslizable -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
      aria-controls="offcanvasMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-flex ms-auto">
      <button *ngIf="isLoggedIn && atletaId" class="btn btn-outline-primary"
        [routerLink]="['/entrenamientos']">
        Entrenamientos
      </button>
      <button *ngIf="isLoggedIn && atletaId" class="btn btn-outline-primary"
        [routerLink]="['/perfil-atleta', atletaId]">
        Perfil
      </button>
      <button *ngIf="!isLoggedIn" class="btn btn-outline-primary" routerLink="/login">Acceder</button>
      <button *ngIf="isLoggedIn" class="btn btn-outline-primary" (click)="logout()">Cerrar sesión</button>
    </div>
  </div>
</nav>


<!-- Menú deslizable siempre visible al hacer clic en el botón -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/posts">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/competiciones">Calendario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ranking">Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buscador-atletas">Atletas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioMarca">Insertar Marca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioAtleta">Insertar Atleta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioPrueba">Insertar Prueba</a>
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>