<div class="container">
    <h2>Crear nuevo atleta</h2>
    <form [formGroup]="atletaForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del atleta</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre">
            <div *ngIf="atletaForm.get('nombre')?.invalid && atletaForm.get('nombre')?.touched" class="text-danger">
                El nombre del atleta es requerido.
            </div>
        </div>

        <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">Año de Nacimiento</label>
            <input type="number" id="fecha_nacimiento" class="form-control" formControlName="fecha_nacimiento" min="1900"
                max="{{ currentYear }}" placeholder="Introduce el año" />
            <div *ngIf="atletaForm.get('fecha_nacimiento')?.invalid && atletaForm.get('fecha_nacimiento')?.touched"
                class="text-danger">
                El año de nacimiento es requerido y debe ser entre 1900 y {{ currentYear }}.
            </div>
        </div>


        <button type="submit" class="btn btn-primary" [disabled]="atletaForm.invalid">Crear Atleta</button>
    </form>
</div>