<div class="container">
    <h2>Mis Inscripciones</h2>
    <div *ngIf="inscripciones.length > 0; else noInscripciones">
        <div *ngFor="let inscripcion of inscripciones" class="inscripcion-item">
            <div class="inscripcion-info">
                <h3>{{ inscripcion.nombre_atleta }}</h3>
                <div class="pruebas">
                    <ng-container *ngFor="let prueba of inscripcion.pruebasSeleccionadas">
                        <span>{{ prueba.nombre_prueba }} ({{ prueba.categoria_id.nombre_categoria }})</span>
                    </ng-container>
                </div>
            </div>
            <div class="inscripcion-actions">
                <button (click)="editarInscripcion(inscripcion._id)" class="btn-edit">
                    <i class="fas fa-edit"></i> Editar
                </button>
                <button (click)="borrarInscripcion(inscripcion._id)" class="btn-delete">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </div>
        </div>
    </div>
    <ng-template #noInscripciones>
        <div class="no-inscripciones">
            <i class="fas fa-info-circle"></i>
            <p>No tienes inscripciones en esta competición.</p>
        </div>
    </ng-template>
</div>