<div class="container">
    <h2>Crear nueva prueba</h2>
    <form [formGroup]="pruebaForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la prueba</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre_prueba">
            <div *ngIf="pruebaForm.get('nombre_prueba')?.invalid && pruebaForm.get('nombre_prueba')?.touched"
                class="text-danger">
                El nombre de la prueba es requerido.
            </div>
        </div>

        <div class="mb-3">
            <label for="sector" class="form-label">Sector</label>
            <select id="sector" class="form-select" formControlName="sector_id">
                <option value="" disabled>Selecciona un sector</option>
                <!-- Usamos [ngValue] para asegurar que el valor seleccionado sea el ID del sector -->
                <option *ngFor="let sector of sectores" [ngValue]="sector._id">{{ sector.nombre_sector }}</option>
            </select>
            <div *ngIf="pruebaForm.get('sector_id')?.invalid && pruebaForm.get('sector_id')?.touched"
                class="text-danger">
                El sector es requerido.
            </div>
        </div>



        <button type="submit" class="btn btn-primary" [disabled]="pruebaForm.invalid">Crear Prueba</button>
    </form>
</div>