<div *ngIf="gruposEntrenamiento.length; else noData">
    <h2>Tus Grupos de Entrenamiento</h2>
    <ul>
        <li *ngFor="let grupo of gruposEntrenamiento" (click)="irAlCalendario(grupo._id)" style="cursor: pointer;">
            
            {{ grupo.nombre_grupo }} - Entrenador: {{ grupo.entrenador?.name }}
        </li>
    </ul>
</div>

<div *ngIf="isEntrenador">
    <button (click)="navigateToCrearGrupo()">Crear grupo de entrenamiento</button>
</div>

<ng-template #noData>
    <p>No estás inscrito en ningún grupo de entrenamiento.</p>
</ng-template>