/* Estilos globales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding-top: 80px;
}

h1 {
    margin-bottom: 30px;
}

.navbar-brand {
    font-weight: bold;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
