
.login-container {
    height: 100vh;
    background: url('/assets/background-image.jpg') no-repeat center center;
    background-size: cover;
}

.login-box {
    background-color: white;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #004274;
    /* Color inspirado en la paleta de Real Madrid */
    border: none;
    padding: 10px 0;
}

.btn-primary:hover {
    background-color: #0064b1;
}

.text-muted {
    color: #6c757d;
}