<section class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <button *ngIf="(isAdmin() || isEditor())" class="btn btn-primary mb-4" [routerLink]="['/create']">Crear
                nuevo
                post</button>

            <div *ngIf="posts.length > 0">
                <div *ngFor="let post of posts" class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p class="card-text">{{ post.content }}</p>
                        <img [src]="getImageUrl(post.imageUrl)" class="img-fluid rounded mb-3" alt="Imagen del post"
                            *ngIf="post.imageUrl">

                        <!-- Botones solo visibles si el usuario está logueado -->
                        <button *ngIf="(isAdmin() || isEditor())" (click)="deletePost(post._id)"
                            class="btn btn-danger me-2">Eliminar</button>
                        <button *ngIf="(isAdmin() || isEditor())" [routerLink]="['/edit', post._id]"
                            class="btn btn-warning">Editar</button>
                    </div>
                </div>
            </div>

            <div *ngIf="posts.length === 0">
                <p class="text-center">No hay posts disponibles.</p>
            </div>
        </div>
    </div>
</section>